<<<<<<< HEAD
// index====================
=======
// index===================
.posts-box {
  display: flex;
  flex-wrap: wrap;
}

>>>>>>> edit-pet-icon
.posts-index-item {
  border-radius: 3px;
  box-shadow: 0 2px 6px #c1ced7;
  padding: 15px;
  margin: 8px;
  background-color: white;
  overflow: hidden;
  width: 310px;
  height: 480px;
}

.user_box {
  display: flex;
}

.post-user-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
  background-color: white;
}

.post-user-name {
  line-height: 50px;
  margin-left: 10px;
}

.index-post-img img {
  width: 280px;
  height: 280px;
  object-fit: cover;
}

@media screen and (max-width: 686px) {
  .posts-box {
    justify-content: center;
  }
}

// show==============================
.post-show-pet{
  display: flex;
}

.post-show-pet p {
  display: block;
  line-height: 40px;
  margin-left: 10px;
}

.post-show-pet-img img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 6px #c1ced7;
  object-fit: cover;
  background-color: white;
}

.show-post-img img {
  width: 330px;
  height: 330px;
  object-fit: cover;
}

// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
